{
  "openapi": "3.1.0",
  "info": {
    "title": "NatorOS Public API",
    "version": "2026-05-21",
    "description": "Public API for discovering and integrating with NatorOS, the agentic OS and AI OS for enterprise operations. Production writes require scoped credentials. Sandbox endpoints are safe for autonomous agents."
  },
  "servers": [
    {
      "url": "https://www.natoros.com/api"
    }
  ],
  "security": [
    {
      "NatorOSApiKey": []
    }
  ],
  "tags": [
    {
      "name": "Agents"
    },
    {
      "name": "Workflows"
    },
    {
      "name": "Runs"
    },
    {
      "name": "Records"
    },
    {
      "name": "Projects"
    },
    {
      "name": "Webhooks"
    },
    {
      "name": "Sandbox"
    }
  ],
  "paths": {
    "/v1/agents": {
      "get": {
        "tags": [
          "Agents"
        ],
        "operationId": "listAgents",
        "summary": "List available NatorOS AI workers",
        "security": [
          {
            "oauth2": [
              "agents:read"
            ]
          },
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/AgentList"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "post": {
        "tags": [
          "Agents"
        ],
        "operationId": "createAgent",
        "summary": "Create or update a governed AI worker asynchronously",
        "security": [
          {
            "oauth2": [
              "agents:write"
            ]
          },
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "responses": {
          "202": {
            "$ref": "#/components/responses/AcceptedJob"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "422": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/workflows": {
      "get": {
        "tags": [
          "Workflows"
        ],
        "operationId": "listWorkflows",
        "summary": "List workflows",
        "security": [
          {
            "oauth2": [
              "workflows:read"
            ]
          },
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/WorkflowList"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "post": {
        "tags": [
          "Workflows"
        ],
        "operationId": "createWorkflow",
        "summary": "Create a workflow asynchronously",
        "security": [
          {
            "oauth2": [
              "workflows:write"
            ]
          },
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "responses": {
          "202": {
            "$ref": "#/components/responses/AcceptedJob"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/workflow-runs": {
      "get": {
        "tags": [
          "Runs"
        ],
        "operationId": "listWorkflowRuns",
        "summary": "List workflow runs",
        "security": [
          {
            "oauth2": [
              "runs:read"
            ]
          },
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/RunList"
          }
        }
      }
    },
    "/v1/workflow-runs/{runId}": {
      "get": {
        "tags": [
          "Runs"
        ],
        "operationId": "getWorkflowRun",
        "summary": "Get a workflow run",
        "security": [
          {
            "oauth2": [
              "runs:read"
            ]
          },
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "name": "runId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Run"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/records": {
      "get": {
        "tags": [
          "Records"
        ],
        "operationId": "listRecords",
        "summary": "List operational records",
        "security": [
          {
            "oauth2": [
              "records:read"
            ]
          },
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "name": "object",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "person",
                "company",
                "deal",
                "task",
                "project"
              ]
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/RecordList"
          }
        }
      },
      "post": {
        "tags": [
          "Records"
        ],
        "operationId": "createRecord",
        "summary": "Create a record",
        "security": [
          {
            "oauth2": [
              "records:write"
            ]
          },
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "responses": {
          "202": {
            "$ref": "#/components/responses/AcceptedRecordMutation"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "patch": {
        "tags": [
          "Records"
        ],
        "operationId": "updateRecord",
        "summary": "Update a record",
        "security": [
          {
            "oauth2": [
              "records:write"
            ]
          },
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "responses": {
          "202": {
            "$ref": "#/components/responses/AcceptedRecordMutation"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/tasks": {
      "get": {
        "tags": [
          "Records"
        ],
        "operationId": "listTasks",
        "summary": "List tasks",
        "security": [
          {
            "oauth2": [
              "records:read"
            ]
          },
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GenericList"
          }
        }
      }
    },
    "/v1/projects": {
      "get": {
        "tags": [
          "Projects"
        ],
        "operationId": "listProjects",
        "summary": "List projects",
        "security": [
          {
            "oauth2": [
              "records:read"
            ]
          },
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GenericList"
          }
        }
      }
    },
    "/v1/webhooks": {
      "get": {
        "tags": [
          "Webhooks"
        ],
        "operationId": "listWebhookEvents",
        "summary": "List webhook event types",
        "responses": {
          "200": {
            "$ref": "#/components/responses/GenericList"
          }
        },
        "security": [
          {
            "NatorOSApiKey": []
          }
        ]
      },
      "post": {
        "tags": [
          "Webhooks"
        ],
        "operationId": "createWebhook",
        "summary": "Create a webhook subscription",
        "security": [
          {
            "oauth2": [
              "webhooks:write"
            ]
          },
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/components/responses/GenericObject"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/sandbox/workflow-runs": {
      "get": {
        "tags": [
          "Sandbox"
        ],
        "operationId": "getSandboxWorkflowRunGuide",
        "summary": "Describe the public sandbox workflow-run endpoint",
        "security": [],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GenericObject"
          }
        }
      },
      "post": {
        "tags": [
          "Sandbox"
        ],
        "operationId": "createSandboxWorkflowRun",
        "summary": "Create a safe sandbox workflow run",
        "security": [],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "responses": {
          "202": {
            "$ref": "#/components/responses/AcceptedJob"
          }
        }
      }
    },
    "/v1/batch": {
      "post": {
        "summary": "Submit a mixed batch operation",
        "security": [
          {
            "NatorOSApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "operations"
                ],
                "properties": {
                  "operations": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Batch accepted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "description": "Authentication required"
          },
          "403": {
            "description": "Missing scope"
          },
          "422": {
            "description": "Validation error"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/v1/records/batch": {
      "post": {
        "summary": "Submit record batch operations",
        "security": [
          {
            "NatorOSApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "operations"
                ],
                "properties": {
                  "operations": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Record batch accepted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "description": "Authentication required"
          },
          "403": {
            "description": "Missing scope"
          },
          "422": {
            "description": "Validation error"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/public-api-keys": {
      "get": {
        "summary": "List org API keys",
        "security": [
          {
            "NatorOSApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "org_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "API key list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "description": "Authentication required"
          },
          "403": {
            "description": "Missing scope"
          },
          "422": {
            "description": "Validation error"
          },
          "500": {
            "description": "Server error"
          }
        }
      },
      "post": {
        "summary": "Create an org API key",
        "parameters": [
          {
            "name": "org_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "scopes": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "expires_at": {
                    "type": "string",
                    "format": "date-time"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "API key created with one-time secret",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "description": "Authentication required"
          },
          "403": {
            "description": "Missing scope"
          },
          "422": {
            "description": "Validation error"
          },
          "500": {
            "description": "Server error"
          }
        },
        "security": [
          {
            "NatorOSApiKey": []
          }
        ]
      },
      "delete": {
        "summary": "Revoke an org API key",
        "parameters": [
          {
            "name": "org_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "API key revoked",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "description": "Authentication required"
          },
          "403": {
            "description": "Missing scope"
          },
          "422": {
            "description": "Validation error"
          },
          "500": {
            "description": "Server error"
          }
        },
        "security": [
          {
            "NatorOSApiKey": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "oauth2": {
        "type": "oauth2",
        "flows": {
          "clientCredentials": {
            "tokenUrl": "https://www.natoros.com/oauth/token",
            "scopes": {
              "agents:read": "Read agent definitions and capabilities.",
              "agents:write": "Create or update agent definitions.",
              "workflows:read": "Read workflow definitions.",
              "workflows:write": "Create or update workflows.",
              "runs:read": "Read workflow-run history and status.",
              "records:read": "Read operational records.",
              "records:write": "Create or update operational records.",
              "webhooks:write": "Create webhook subscriptions."
            }
          }
        }
      },
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key"
      },
      "NatorOSApiKey": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "ntr_live API key",
        "description": "NatorOS public API key created by an organization owner/admin."
      }
    },
    "parameters": {
      "IdempotencyKey": {
        "name": "Idempotency-Key",
        "in": "header",
        "required": false,
        "schema": {
          "type": "string",
          "maxLength": 128
        },
        "description": "Recommended for writes. Reusing a key returns the original mutation result."
      }
    },
    "schemas": {
      "Pagination": {
        "type": "object",
        "required": [
          "has_more"
        ],
        "properties": {
          "has_more": {
            "type": "boolean"
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "Error": {
        "type": "object",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "type": "object",
            "required": [
              "code",
              "message",
              "request_id",
              "docs_url",
              "retryable"
            ],
            "properties": {
              "code": {
                "type": "string"
              },
              "message": {
                "type": "string"
              },
              "request_id": {
                "type": "string"
              },
              "docs_url": {
                "type": "string",
                "format": "uri"
              },
              "retryable": {
                "type": "boolean"
              }
            }
          }
        }
      },
      "Agent": {
        "type": "object",
        "required": [
          "id",
          "name",
          "status",
          "description"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "scopes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "Workflow": {
        "type": "object",
        "required": [
          "id",
          "name",
          "status",
          "trigger"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "trigger": {
            "type": "string"
          },
          "description": {
            "type": "string"
          }
        }
      },
      "WorkflowRun": {
        "type": "object",
        "required": [
          "id",
          "status"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "workflow_id": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "started_at": {
            "type": "string",
            "format": "date-time"
          },
          "finished_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "replayable": {
            "type": "boolean"
          }
        }
      },
      "Record": {
        "type": "object",
        "additionalProperties": true,
        "required": [
          "id",
          "object",
          "name"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        }
      }
    },
    "responses": {
      "Error": {
        "description": "Typed JSON error",
        "headers": {
          "RateLimit-Limit": {
            "schema": {
              "type": "integer"
            }
          },
          "RateLimit-Remaining": {
            "schema": {
              "type": "integer"
            }
          },
          "RateLimit-Reset": {
            "schema": {
              "type": "integer"
            }
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "AgentList": {
        "description": "List of agents",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "object": {
                  "const": "list"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Agent"
                  }
                },
                "pagination": {
                  "$ref": "#/components/schemas/Pagination"
                }
              }
            }
          }
        }
      },
      "WorkflowList": {
        "description": "List of workflows",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "object": {
                  "const": "list"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Workflow"
                  }
                },
                "pagination": {
                  "$ref": "#/components/schemas/Pagination"
                }
              }
            }
          }
        }
      },
      "RunList": {
        "description": "List of workflow runs",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "object": {
                  "const": "list"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/WorkflowRun"
                  }
                },
                "pagination": {
                  "$ref": "#/components/schemas/Pagination"
                }
              }
            }
          }
        }
      },
      "Run": {
        "description": "Workflow run",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/WorkflowRun"
            }
          }
        }
      },
      "RecordList": {
        "description": "List of records",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "object": {
                  "const": "list"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Record"
                  }
                },
                "pagination": {
                  "$ref": "#/components/schemas/Pagination"
                }
              }
            }
          }
        }
      },
      "AcceptedJob": {
        "description": "Accepted asynchronous job",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "additionalProperties": true,
              "properties": {
                "status": {
                  "type": "string"
                },
                "status_url": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "AcceptedRecordMutation": {
        "description": "Accepted record mutation",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "additionalProperties": true
            }
          }
        }
      },
      "GenericList": {
        "description": "Generic list response",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "additionalProperties": true
            }
          }
        }
      },
      "GenericObject": {
        "description": "Generic object response",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "additionalProperties": true
            }
          }
        }
      }
    }
  }
}
